<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="toma">ok</h1>

    <div id="here"></div>
    <script>
        var obj1 = {
            'one': {
                'name': 'lucas',
                'idade': 23
            },
            'two': {
                'name': 'caco',
                'idade': 30
            },
            'three': {
                'name': 'tati',
                'idade': 29
            },
            'four': {
                'name': 'francesco',
                'idade': 1
            }
        }

        var local = document.getElementById('here')
        var people = document.createElement('h2')
        var query_param = ''



        // ESSA PORRA DE FUNÇÃO DEVERIA RETORNAR UMA LISTA AI DARIA CERTO//
        var lista = Object.values(obj1)



        function CreatingTable() {
            return a = 2
        }


        function CheckingKeys(key) {
            if (typeof key == "object") {
                lista.app
            }

        }

        function CreateButtons() {
            var b1 = document.createElement('button')
            var b
        }


        function displayInfo() {
            for (o of lista) {
                console.log(o)
                var info = document.createElement('h2')
                info.innerHTML = o['name'] + ' ' + o['idade']
                local.appendChild(info)
            }
        }

        function SortList() {

        }



        query = Object.values(obj1).sort(function (a, b) {
            return a[query_param].toString().localeCompare(b[query_param].toString());
        });


        for (p in query) {
            var result = document.createElement('h1')
            result.innerHTML = p
        }


        console.log(Object.values(obj1).sort(function (a, b) {
            return a["idade"].toString().localeCompare(b["idade"].toString());
        }));





    </script>

</body>

</html>