    <div class="main_filter">
        <label for="coin_search">search</label>
        <input id="coin_search" type="text" name="coin" id="">
        <input id="coin_search" type="submit" name="" id="">

        <label for="id">Id</label>
        <input type="checkbox" id="id">
        <label for="id">name</label>
        <input type="checkbox" id="id">
        <label for="id">symbol</label>
        <input type="checkbox" id="id">
        <label for="id">slug</label>
        <input type="checkbox" id="id">
        <label for="num_market_pairs">num_market_pairs</label>
        <input type="checkbox" id="num_market_pairs">
        <label for="date_added">date_added</label>
        <input type="checkbox" id="tags">
        <label for="id">tags</label>
        <input type="checkbox" id="id">
        <label for="id">max_supply</label>
        <input type="checkbox" id="max_supply">
        <label for="id">circulating_supply</label>
        <input type="checkbox" id="circulating_supply">
        <label for="id">total_supply</label>
        <input type="checkbox" id="total_supply">
        <label for="id">platform</label>
        <input type="checkbox" id="platform">
        <label for="id">cmc_rank</label>
        <input type="checkbox" id="cmc_rank">
        <label for="id">last_updated</label>
        <input type="last_updated" id="last_updated">

        <!-- Quote -->
        <input class="" type="text">

        <label for="price">price</label>
        <input type="checkbox" id="price">
        <label for="volume_24h">volume_24h</label>
        <input type="checkbox" id="volume_24h">
        <label for="id">percent_change_1h</label>
        <input type="percent_change_1h" id="percent_change_1h">
        <label for="id">percent_change_24h</label>
        <input type="checkbox" id="percent_change_24h">
        <label for="id">Id</label>
        <input type="checkbox" id="id">
        <label for="id">Id</label>
        <input type="checkbox" id="id">

    </div>